In [ ]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('punkt')

from nltk.corpus import stopwords
nltk.download('wordnet')
nltk.download('stopwords')

import pandas as pd
import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# data load

In [ ]:
from nltk.stem.porter import *
stemmer = nltk.PorterStemmer()

df = pd.read_excel('review_ë²ˆì—­.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979 entries, 0 to 2978
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   book_title  2979 non-null   object
 1   search      2979 non-null   object
 2   rating      2979 non-null   int64
 3   review      2979 non-null   object
 4   en_review   2979 non-null   object
 5   ko_review   2979 non-null   object
 6   likes       2979 non-null   int64
dtypes: int64(2), object(5)
memory usage: 163.0+ KB

In [ ]:
df.head()

             book_title  ... likes
0                    28  ...     0
1                    28  ...     0
2    Nikto ne uznaet...  ...     0
3  Vasha ten ponedelnik  ...     2
4  Vasha ten ponedelnik  ...     0

[5 rows x 7 columns]

In [ ]:
searched_words = ['translat']
searched_words = [stemmer.stem(w.lower()) for w in searched_words]
searched_words

['translat']

In [ ]:
# ë²ˆì—­ í‚¤ì›Œë“œ('translat-') í¬í•¨í•˜ëŠ” ë¬¸ì¥ë§Œ!

df['text'] = df['en_review'].apply(lambda text: [sent for sent in sent_tokenize(text)
                           if any([(w2.lower() in w.lower()) for w in word_tokenize(sent)
                                   for w2 in searched_words])])

df.head()

In [ ]:
df['text'] = df['text'].apply(lambda x: str(x)[1:-1])
df.head()

             book_title  ...                                               text
0                    28  ...  'A book worth reading despite translation or n...
1                    28  ...  '28 - jeong youjeong\n\nTranslation season Rea...
2    Nikto ne uznaet...  ...  'End but no less important, I still have a son...
3  Vasha ten ponedelnik  ...  'The translator made some odd choices translat...
4  Vasha ten ponedelnik  ...  'The German translation has recently been publ...

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979 entries, 0 to 2978
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   book_title  2979 non-null   object
 1   search      2979 non-null   object
 2   rating      2979 non-null   int64
 3   review      2979 non-null   object
 4   en_review   2979 non-null   object
 5   ko_review   2979 non-null   object
 6   likes       2979 non-null   int64
 7   text        2979 non-null   object
dtypes: int64(2), object(6)
memory usage: 186.3+ KB

# SENTIMENT ANALYSIS NLTK VADER


preprocessingëŠ” ì œì™¸

The incredible thing about VADER is it doesnâ€™t require a great deal of preprocessing to work. Unlike with some supervised methods of NLP, preprocessing necessities such as tokenisation and stemming/lemmatisation are not required. You can pretty much plug in any body of text and it will determine the sentiment.

In [ ]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
def sentiment_analyze(text):
  score = SentimentIntensityAnalyzer().polarity_scores(text)
  neg = score['neg']
  pos = score['pos']
  neu = score['neu']

  return SentimentIntensityAnalyzer().polarity_scores(text)

In [ ]:
df['polarity']= df['text'].apply(sentiment_analyze)
df['compound'] = df['polarity'].apply(lambda d:d['compound'])
df.head()

             book_title  ... compound
0                    28  ...   0.8164
1                    28  ...  -0.4939
2    Nikto ne uznaet...  ...  -0.6110
3  Vasha ten ponedelnik  ...  -0.3182
4  Vasha ten ponedelnik  ...   0.0000

[5 rows x 10 columns]

In [ ]:
df[(df['text']=='')].count()

book_title    0
search        0
rating        0
review        0
en_review     0
ko_review     0
likes         0
text          0
polarity      0
compound      0
dtype: int64

In [ ]:
df.to_excel('ë²ˆì—­ì ìˆ˜.xlsx')